:80 {
        # Set this path to your site's directory.
        root * /usr/share/caddy

        # Enable the static file server.
        file_server

        # Another common task is to set up a reverse proxy:
        # reverse_proxy localhost:8080

        # Or serve a PHP site through php-fpm:
        # php_fastcgi localhost:9000
}

www.toky.finance {
        root * /var/www/ghoti.finance
        try_files {path} /index.html
        file_server
}

toky.finance {
        redir https://www.ghoti.finance{uri} permanent
}

wh.ghoti.finance {
        root * /var/www/wh.ghoti.finance
        file_server
        reverse_proxy 127.0.0.1:8168
}

webhook.ghoti.finance {
        root * /var/www/wh.ghoti.finance
        file_server
        reverse_proxy 127.0.0.1:8168
}

api.toky.finance {
    # 处理预检请求
    @options method OPTIONS
    respond @options 204

    # 直接代理到后端
    reverse_proxy 127.0.0.1:3030
}